@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--background-base: #ffffff;
	--foreground-base: #171717;
	--primary-light: #ffffff;
	--primary-dark: #121212;
	--secondary-light: #f3f3f3;
	--secondary-dark: #333333;
}

@media (prefers-color-scheme: dark) {
	:root {
		--background-base: #0a0a0a;
		--foreground-base: #ededed;
	}
}

html {
	scroll-behavior: smooth;
}

body {
	background-color: #0a0a0a;
	/* background-color: #121212; */
	color: #ededed;
}

/* body::before {
	content: "";
	position: fixed;
	inset: 0;
	background: black;
	filter: url("/textures/noise.svg#noiseFilter") contrast(200%);
	opacity: 0.1;
	pointer-events: none;
} */

@keyframes zoom-bg {
	0% {
		background-size: 100%;
	}
	50% {
		background-size: 150%;
	}
	100% {
		background-size: 100%;
	}
}

@media (max-width: 540px) {
	@keyframes zoom-bg {
		0%,
		100% {
			background-size: 110%;
		}
		50% {
			background-size: 120%;
		}
	}
}

.nav-link {
	background-color: #0a0a0a;
}

.nav-link:hover {
	background-image: url("/textures/8k_stars_milky_way.webp");
	background-repeat: repeat;
	background-size: 100%;
	background-position: center;
	/* NOTE: great solution for fixing repeating backgrounds when the size is inconsistent */
	background-attachment: fixed;
	animation: zoom-bg 40s ease-in-out infinite;
	position: relative; /* Ensures pseudo-elements align relative to the text */
	color: white; /* Base text color */
	overflow: hidden;
}

.grid-background {
	/* background-color: rgba(29, 185, 84, 0.78); */
	background-size: 10px 10px;
	background-image: linear-gradient(to right, #868686 0.5px, transparent 0.5px),
		linear-gradient(to bottom, #868686 0.5px, transparent 0.5px);
}

.glass {
	background: rgba(255, 255, 255, 0.15);
	-webkit-backdrop-filter: blur(11px);
	backdrop-filter: blur(11px);
}

.glass-grid-bg {
	/* background: rgba(255, 255, 255, 0.15); */
	background-blend-mode: normal, normal, screen;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	-webkit-backdrop-filter: blur(6.4px);
	backdrop-filter: blur(6.4px);
	background-size: 8px 8px;
	background-image: linear-gradient(
			to right,
			#ffffff55 0.5px,
			transparent 0.5px
		),
		linear-gradient(to bottom, #ffffff55 0.5px, transparent 0.5px);
	/* border: 1px solid rgba(255, 255, 255, 0.4); */
}

.glass-grid-bg {
	background:
		/* Fade effect at the bottom */ linear-gradient(
			to bottom,
			rgba(255, 255, 255, 0) 60%,
			rgba(255, 255, 255, 0.15) 100%
		),
		/* Grid pattern */
			linear-gradient(to right, #ffffff55 0.5px, transparent 0.5px),
		linear-gradient(to bottom, #ffffff55 0.5px, transparent 0.5px);
	background-size: 100% 100%, 8px 8px, 8px 8px;
	background-blend-mode: normal, normal, overlay; /* Overlay for fade effect */
	/* border: 1px solid rgba(255, 255, 255, 0.4); */
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	-webkit-backdrop-filter: blur(20px);
	backdrop-filter: blur(20px);
}

.gradient-bg-green {
	background-image: radial-gradient(
		circle,
		rgba(95, 154, 154, 1) 0%,
		rgba(4, 67, 68, 1) 100%
	);
}

.gradient-bg-purple {
	background-image: radial-gradient(
		circle,
		rgb(90, 0, 90) 0%,
		rgb(0, 0, 0) 100%
	);
}

.gradient-bg-blue {
	background-image: radial-gradient(
		circle,
		rgb(74, 117, 155) 0%,
		rgba(27, 64, 121, 1) 100%
	);
}

.typing-effect::after {
	content: "|"; /* This is the cursor */
	display: inline-block;
	margin-left: 2px; /* Space between text and cursor */
	animation: blink 0.8s steps(2) infinite;
}

@keyframes blink {
	0%,
	50% {
		opacity: 1;
	}
	51%,
	100% {
		opacity: 0;
	}
}

@media (max-width: 540px) {
	.vertical-text {
		writing-mode: vertical-lr;
		text-orientation: upright;
	}
}

/* styles for stack icons */
.skill {
	--skill-color: 255, 255, 255; /* Set this dynamically */
	display: flex;
	justify-content: center;
	align-items: center;
	/* Initial transparent background */
	background: rgba(var(--skill-color, 255, 255, 255), 0.3);
	border-radius: 50%;
	box-shadow: 0 0 15px rgba(var(--skill-color), 0.3),
		0 0 30px rgba(var(--skill-color), 0.3),
		0 0 45px rgba(var(--skill-color), 0.3);
	transition: all 0.3s ease-in-out;
	position: relative;
	/* border: 2px solid rgba(var(--skill-color, 255, 255, 255), 0.3); */
}

.skill:hover {
	background: rgba(var(--skill-color), 0.5); /* More visible color */
	box-shadow: 0 0 30px rgba(var(--skill-color), 0.6),
		0 0 60px rgba(var(--skill-color), 0.8), 0 0 90px rgba(var(--skill-color), 1);
}

.skill::after {
	content: "";
	position: absolute;
	width: 1.5rem;
	height: 1.5rem;
	border-radius: 50%;
	box-shadow: 0 0 30px rgba(var(--skill-color), 0.3),
		0 0 45px rgba(var(--skill-color), 0.5);
	z-index: -2;
	animation: glow 10s infinite alternate;
}

.skill::before {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	border: 2px solid rgba(var(--skill-color, 255, 255, 255), 0.3);
	opacity: 01; /* Explicitly set opacity */
	border-radius: 50%;
	-webkit-backdrop-filter: blur(10px);
	backdrop-filter: blur(10px);
	z-index: -1;
}

/* Glow Animation */
@keyframes glow {
	0% {
		box-shadow: 0 0 30px rgba(var(--skill-color), 0.3),
			0 0 60px rgba(var(--skill-color), 0.4),
			0 0 90px rgba(var(--skill-color), 0.5);
	}
	100% {
		box-shadow: 0 0 45px rgba(var(--skill-color), 0.5),
			0 0 75px rgba(var(--skill-color), 0.6),
			0 0 105px rgba(var(--skill-color), 0.8);
	}
}

/* glow effect for text */
@import url("https://fonts.googleapis.com/css?family=Sacramento&display=swap");

.glow {
	color: #a1d8ff; /* Light bluish text color */
	text-shadow: 0 0 5px #00d4ff, /* Bright blue glow */ 0 0 15px #00d4ff,
		0 0 25px #00aaff, 0 0 40px #0077ff,
		/* Deep electric blue */ 0 0 60px #0047ff,
		/* Darker bluish-purple */ 0 0 80px #0033aa, 0 0 98px #001a66; /* Cosmic dark blue */
	-webkit-animation: pulse 5s infinite;
	animation: pulse 5s infinite;
}

@keyframes pulse {
	0% {
		text-shadow: 0 0 5px #00d4ff, 0 0 10px #00d4ff, 0 0 20px #00aaff,
			0 0 30px #0077ff, 0 0 50px #0047ff, 0 0 70px #0033aa, 0 0 90px #001a66;
	}
	50% {
		text-shadow: 0 0 10px #00d4ff, 0 0 20px #00d4ff, 0 0 30px #00aaff,
			0 0 50px #0077ff, 0 0 70px #0047ff, 0 0 90px #0033aa, 0 0 110px #001a66;
	}
	100% {
		text-shadow: 0 0 5px #00d4ff, 0 0 10px #00d4ff, 0 0 20px #00aaff,
			0 0 30px #0077ff, 0 0 50px #0047ff, 0 0 70px #0033aa, 0 0 90px #001a66;
	}
}

.glass-window {
	background-color: rgba(255, 255, 255, 0.1); /* Semi-transparent */
	-webkit-backdrop-filter: blur(10px); /* Safari */
	backdrop-filter: blur(10px); /* Frosted glass effect */
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* Optional shadow */
	z-index: 10;
}

@layer base {
	:root {
		--background: 0 0% 100%;
		--foreground: 0 0% 3.9%;
		--card: 0 0% 100%;
		--card-foreground: 0 0% 3.9%;
		--popover: 0 0% 100%;
		--popover-foreground: 0 0% 3.9%;
		--primary: 0 0% 9%;
		--primary-foreground: 0 0% 98%;
		--secondary: 0 0% 96.1%;
		--secondary-foreground: 0 0% 9%;
		--muted: 0 0% 96.1%;
		--muted-foreground: 0 0% 45.1%;
		--accent: 0 0% 96.1%;
		--accent-foreground: 0 0% 9%;
		--destructive: 0 84.2% 60.2%;
		--destructive-foreground: 0 0% 98%;
		--border: 0 0% 89.8%;
		--input: 0 0% 89.8%;
		--ring: 0 0% 3.9%;
		--chart-1: 12 76% 61%;
		--chart-2: 173 58% 39%;
		--chart-3: 197 37% 24%;
		--chart-4: 43 74% 66%;
		--chart-5: 27 87% 67%;
		--radius: 0.5rem;
	}
	.dark {
		--background: 0 0% 3.9%;
		--foreground: 0 0% 98%;
		--card: 0 0% 3.9%;
		--card-foreground: 0 0% 98%;
		--popover: 0 0% 3.9%;
		--popover-foreground: 0 0% 98%;
		--primary: 0 0% 98%;
		--primary-foreground: 0 0% 9%;
		--secondary: 0 0% 14.9%;
		--secondary-foreground: 0 0% 98%;
		--muted: 0 0% 14.9%;
		--muted-foreground: 0 0% 63.9%;
		--accent: 0 0% 14.9%;
		--accent-foreground: 0 0% 98%;
		--destructive: 0 62.8% 30.6%;
		--destructive-foreground: 0 0% 98%;
		--border: 0 0% 14.9%;
		--input: 0 0% 14.9%;
		--ring: 0 0% 83.1%;
		--chart-1: 220 70% 50%;
		--chart-2: 160 60% 45%;
		--chart-3: 30 80% 55%;
		--chart-4: 280 65% 60%;
		--chart-5: 340 75% 55%;
	}
}

.border-animation {
	--border-angle: 0turn; /* For animation */
	--main-bg: conic-gradient(
		from var(--border-angle),
		#213,
		#112 5%,
		#112 60%,
		#213 95%
	);

	border: solid 5px transparent;
	border-radius: 1rem;
	--gradient-border: conic-gradient(
		from var(--border-angle),
		transparent 25%,
		#08f,
		#f03 99%,
		transparent
	);

	background: var(--main-bg) padding-box,
		/* Inner background */ var(--gradient-border) border-box,
		/* Border animation */ var(--main-bg) border-box; /* Duplicate for fallback */

	animation: bg-spin 3s linear infinite;
	text-align: center;
	position: relative;
	z-index: 1;
	transition: transform 0.3s ease-in-out;
	will-change: transform;
}

.border-animation:hover {
	transform: scale(1.05);
	/* Add an overlaying faster animation */
	animation: bg-spin 1.5s linear infinite;
}

@keyframes bg-spin {
	to {
		--border-angle: 1turn;
	}
}

@property --border-angle {
	syntax: "<angle>";
	inherits: true;
	initial-value: 0turn;
}

@layer utilities {
	.three-d-marquee-grid {
		transform: translate3d(-50%, -50%, 0) rotateX(55deg) rotateY(0deg)
			rotateZ(-45deg) scale3d(1.9, 1.9, 1);
		transform-style: preserve-3d;
	}

	.grid-line-horizontal {
		--background: #ffffff;
		--color: rgba(0, 0, 0, 0.2);
		--height: 1px;
		--width: 5px;
		--fade-stop: 90%;
		--offset: 200px;
		--color-dark: rgba(255, 255, 255, 0.2);
	}

	.grid-line-horizontal--offset-20 {
		--offset: 20px;
	}

	.grid-line-horizontal--offset-16 {
		--offset: 16px;
	}

	.grid-line-vertical {
		--background: #ffffff;
		--color: rgba(0, 0, 0, 0.2);
		--height: 5px;
		--width: 1px;
		--fade-stop: 90%;
		--offset: 150px;
		--color-dark: rgba(255, 255, 255, 0.2);
	}

	.grid-line-vertical--offset-80 {
		--offset: 80px;
	}

	.grid-line-vertical--offset-60 {
		--offset: 60px;
	}

	.min-h-viewport {
		min-height: 100vh; /* Fallback for browsers that don't support dvh */
	}

	@supports (height: 100dvh) {
		.min-h-viewport {
			min-height: 100dvh; /* Uses dvh if supported */
		}
	}
}
